.pagination-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;

  button, select {
    padding: 10px;
    border: none;
    background: #292929;
    height: 100%;
  }
}