:root {
  --shadow: 0 0 20px rgba(0, 0, 0, 1);
  --background-color: #292929;
  --topbar-height: 75px;
  --footer-height: 50px;
  --sidebar-width: 235px;
  --default-transition: all .3s ease-in-out;

  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
  'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
  'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
                  from 180deg at 50% 50%,
                  #16abff33 0deg,
                  #0885ff33 55deg,
                  #54d6ff33 120deg,
                  #0071ff33 160deg,
                  transparent 360deg
  );
  --secondary-glow: radial-gradient(
                  rgba(255, 255, 255, 1),
                  rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
                  #00000080,
                  #00000040,
                  #00000030,
                  #00000020,
                  #00000010,
                  #00000010,
                  #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
                    to bottom right,
                    rgba(1, 65, 255, 0),
                    rgba(1, 65, 255, 0),
                    rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
                    #ffffff80,
                    #ffffff40,
                    #ffffff30,
                    #ffffff20,
                    #ffffff10,
                    #ffffff10,
                    #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: repeating-linear-gradient(45deg, rgb(14, 13, 14) 25%, rgb(14, 13, 14) 50%, rgb(23, 24, 25) 50%, rgb(23, 24, 25) 75%) 0 0% / 5px 7px;
  //background: repeating-linear-gradient(0deg,#fff 25%,#fff 50%,#dadada 0,#dadada 75%,#fff);
  //background-size: 5px 3px;
}

button {
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  text-align: inherit;
  font: inherit;
  border-radius: 0;
  appearance: none; // Just in case we missed anything.
  cursor: pointer;

  &:disabled {
    cursor: not-allowed;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

.button-group {
  display: flex;
  justify-content: center;
  align-items: center;

  * {
    flex-grow: 1;
  }
}

select, input {
  padding: 5px;
}

.Modal {
  padding: 20px;
  background-color: var(--darker);
}

.Overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.8);
}

.sidebar-button {
  padding: 10px;

  display: flex;
  justify-content: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
  margin-top: 10px;
  width: 100%;

  transition: all 0.3s ease-in-out;

  background: #96520d;

  &:hover {
    background: #7e4409;
  }
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .field {
    display: flex;
    flex-direction: column;
    gap: 10px;

    &.checkbox {
      flex-direction: row;
      justify-content: space-between;
    }

    input {
      padding: 10px;
    }
  }

  button {
    padding: 10px;
    background: #96520d;

    display: flex;
    justify-content: center;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);

    transition: all 0.3s ease-in-out;

    &:hover {
      background: #7e4409;
    }
  }
}

button, .button {
  &.default {
    padding: 10px;
    background: #96520d;

    box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);

    transition: all 0.3s ease-in-out;

    &[disabled] {
      cursor: not-allowed;

      &:hover {
        background: #96520d;
      }
    }

    &:hover {
      background: #7e4409;
    }
  }

  &.icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}