.registerpage {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  .register-form {
    width: 500px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    h2 {
      margin-bottom: 20px;
    }
  }
}