.content {
  margin-top: var(--topbar-height);
}

.category-layout-container {
  display: flex;

  .category-layout-content {
    box-shadow: var(--shadow);
    width: calc(100% - var(--sidebar-width));
    margin-left: var(--sidebar-width);
    margin-bottom: var(--footer-height);
    z-index: 1;
    min-height: calc(100vh - var(--footer-height) - var(--topbar-height));
    box-sizing: border-box;

    @media (max-width: 768px) {
      width: 100%;
      margin-left: 0;
    }
  }
}
