.action {
  cursor: pointer;
  background: var(--darker);
  border: 1px solid #333333;
  color: var(--main-font-color);

  .action-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    padding: 10px;
  }

  .action-footer {
    height: 20px;
    width: 100%;
  }

  &.active {
    background: #033603;
  }
}