footer {
  z-index: 100;
  position: fixed;
  bottom: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: var(--footer-height);
  padding: 0 20px;
  background: var(--background-color);
  box-shadow: var(--shadow);

  .logo {
    display: flex;
    align-items: center;
    width: 33%;
    height: 100%;

    .image {
      position: relative;
      height: 100%;
      width: 40px;
    }
  }

  nav {
    width: 33%;
    display: flex;
    justify-content: center;
    gap: 40px;

    a {
      display: flex;
      gap: 10px;
    }
  }

  .socials {
    width: 33%;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
  }
}
