.loader-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 80px;
  height: 100%;

  &.full-height-page {
    height: calc(100vh - var(--footer-height) - var(--topbar-height));
  }

  span {
    font-size: 2.5em;
  }
}