.page-heading {
  display: flex;
  flex-direction: column;
  gap: 20px;

  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: var(--default-border);

  .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}