.sidebar-content-container {
  display: flex;
  flex-direction: column;
  gap: 5px;

  .sidebar-button {
    margin-bottom: 40px;
  }

  .group {
    display: flex;
    flex-direction: column;
    gap: 5px;

    span {
      padding-left: 10px;
    }

    nav {
      display: flex;
      flex-direction: column;

      a {
        display: flex;
        justify-content: space-between;

        padding: 10px 15px 10px 30px;

        &:hover {
          background: #000;
        }
      }
    }
  }
}