$toggle-size: 50px;

.sidebar {
  position: fixed;
  width: var(--sidebar-width);
  background: var(--background-color);
  height: calc(100vh - var(--topbar-height) - var(--footer-height));

  padding-top: 20px;

  transition: var(--default-transition);

  &.left {
    left: 0;
  }

  &.right {
    right: 0;
  }

  .toggle {
    display: none;

    position: absolute;
    width: $toggle-size;
    height: $toggle-size;

    padding: 5px;

    justify-content: center;
    align-items: center;

    cursor: pointer;

    background: var(--background-color);
  }

  nav {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;

    div {
      box-sizing: border-box;
      width: 100%;
      padding: 10px 0 10px 20px;
      transition: padding .3s ease-in-out;

      &:hover {
        background: #000;
        padding-left: 40px;
      }
    }
  }

  @media (max-width: 768px) {
    z-index: 75;

    width: 0;

    &.opened {
      width: var(--sidebar-width);
    }

    &.left {
      .toggle {
        right: -$toggle-size;
      }
    }

    &.right {
      .toggle {
        left: -$toggle-size;
      }
    }

    .toggle {
      display: flex;
    }

    .sidebar-content {
      width: 100%;
      overflow: hidden;
    }
  }
}
