header {
  z-index: 100;
  position: fixed;
  box-sizing: border-box;

  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: var(--topbar-height);
  padding: 0 20px;
  background: var(--background-color);
  box-shadow: var(--shadow);

  .logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 33%;
    height: 100%;

    .image {
      position: relative;
      height: 80%;
      width: 70px;
    }
  }

  nav {
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    height: 100%;

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      text-transform: uppercase;
    }
  }

  .right {
    width: 33%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;

    .toggle {
      cursor: pointer;
    }
  }
}
