form {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .form-field {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  input, button {
    padding: 10px;
  }

  .button-group {
    gap: 10px;

    .register-button {
      flex-grow: 1;
    }

    .login-link {
      flex-grow: .3;
      text-align: right;
    }
  }
}